# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#Pipfile.lock

# poetry
#poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#.idea/

# MLflow
mlruns/
mlartifacts/
outputs/
mlruns.db
**/basic_auth.db

# macOS
.DS_Store

# Node modules
node_modules

# Editor files
.*project
*.swp
*.swo
*.idea
*.vscode
*.iml
*~

# R notebooks
.Rproj.user
example/tutorial/R/*.nb.html

# travis_wait command logs
travis_wait*.log

# Pytorch logs
lightning_logs

# Misc files
a.py
a.ipynb
a.md

# Pre-commit hook logs
.black.log

# Pytest-monitor load testing DB file
*.pymon

# Gunicorn config file
gunicorn.conf.py

# Insta snapshots
*.pending-snap

# Generated by Cargo
debug/
target/
target-alpine/

# Rustfmt backup files
**/*.rs.bk

# MSVC Windows builds
*.pdb

# Python tmp files
__pycache__

# Maturin builds
*.so
*.pyd
*.dll

# Profiling
flamegraph.svg
perf.data
perf.data.old
profile.json